%tr
  %td.name= link_to blob.name, user_repository_blob_url(@owner, @repository, @ref)
  %td.age= time_ago_in_words @last_commit.date
  %td.message= "(#{@last_commit.author.name}) #{@last_commit.message}"