%div
  SSH URL:
  = link_to @repository.to_ssh_url, 'ssh://'+@repository.to_ssh_url

= render 'branches'

%h3 Tree
%table
  %thead
    %tr
      %th Name
      %th Age
      %th Message
  %tbody
    - @tree.contents.each do |content|
      - @ref = controller.current_ref + "/#{content.name}"
      - @path = controller.current_path + ["#{content.name}"]
      - @last_commit = @repository.to_grit.log(controller.current_branch.id, @path.join('/'), max_count: 1, skip: 0).last
      - case content.class.name
      - when 'Grit::Blob'
        = render 'blob', blob: content
      - when 'Grit::Tree'
        = render 'tree', tree: content
      - else
        = render template: 'inspect', content: content