%h2 Sign Up

= semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f|

  = f.inputs :account_details do
    = f.input :user_name
    = f.input :email
    = f.input :password
    = f.input :password_confirmation, :label => 'Confirm your password'

  = f.buttons do
    = f.commit_button 'Sign Up'

= partial 'devise/shared/links'
