!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    %title Smeg Head

    = area :head_content do
      %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
      -# TODO: Add modernzir, stylesheet etc.
      = area :stylesheets do
        / Stylesheets go here

  %body
    #container
      %header=  area :header, render(:partial => 'shared/header')
      #content= area :content, yield
      %footer=  area :footer, render(:partial => 'shared/footer')
    = area :javascripts do
      = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"